<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{user.first_name}} {{user.last_name}} </title>

    {% include 'portfolio/css.html' %}

    {% block extra_css %}

    {% endblock %}

</head>

<body id="page-top">

{% include 'portfolio/navbar.html' %}


{% block content %}

{% endblock %}


</body>



{% include 'portfolio/js.html' %}

{% block extra_js %}

{% endblock %}


</html>
